<a href="https://colab.research.google.com/github/SamOkaro1/EDA/blob/main/DataAnalytics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Exploratory Data Analysis

In [ ]:
# A function that adds two numbers

In [ ]:
# prompt:  A function that adds two numbers

def add_two_numbers(a, b):
  """
  This function adds two numbers together.

  Args:
    a: The first number.
    b: The second number.

  Returns:
    The sum of the two numbers.
  """
  return a + b

# Example usage
result = add_two_numbers(5, 3)
print(result)  # Output: 8

In [ ]:
# Get the max value of element from a list

lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

max(lst, key = lambda x: x**2)

10